
.hidden {
	display: none;
}

/* Header */
.headerSummary {
	margin: 15px;
}

#userMetal, #userEnergy {
	margin-right: 25px;
}


/* Resource Tab */
#currentResourceContainer, #resourceOrderForm {
	border: 1px solid #88bad4;
	border-radius: 5px;
	background-color:rgba(50, 50, 200, 0.3);
	padding: 5px;
	margin-bottom: 50px;
}

#currentResourceContainer div {
	font-size:12px;
}

#resourceOrderForm table {
	background: none;
}

#asteroidOrder, #powerCellOrder {
	margin: 5px;
}

#resourceSubmit {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

/* Research Tab */
#researchError {
	font-size: 12px;
	margin-bottom: 25px;
	padding-top: 5px;
}

#researchError .ui-icon-alert {
	float:left;
	margin-right: 5px;
}

/* Defaults */
.researchBox {
	width: 200px;
	min-height: 95px;
	border: 1px solid #666;
	border-radius: 5px;
	background-color:rgba(0, 0, 0, 0.3);
	margin: 0 25px;
	color: #666;
}

.researchName, .researchPending {
	display: block;
	text-align: center;
}

.researchDescription, .researchBox .costContainer, .researchPending {
	font-size: 10px;
}

.researchBox > button {
	display: block;
	margin: 0 auto;
}

.researchBox > button:disabled {
	color: #ccc;
}

#research1 {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.ui-accordion-content {
	height: 400px;
}

.researchTable {
	width: 750px;
	display: block;
	margin: 0 auto;
}

.researchTable .midTier {
	margin: 0 25px;
}

.researchTable img {
	margin-left: 120px;
}

/* Available */
.researchBox.researchAvailable {
	border-color: #26b3f7;
	color: #fff;	
}

/* In Progress */
.researchBox.researchInProg {
	border-color: #fbcab3;
	color: #fbcab3;
}


/* Complete */
.researchBox.researchComplete {
	border-color: #3fe694;
	color: #3fe694;
}