
/* Research Tab */

/* Defaults */
.researchBox {
	width: 200px;
	min-height: 95px;
	border: 1px solid #666;
	border-radius: 5px;
	background-color:rgba(0, 0, 0, 0.3);
	margin: 0 25px;
	color: #666;
}

.researchName {
	display: block;
	text-align: center;
}

.researchDescription, .researchBox .costContainer{
	font-size: 10px;
}

.researchBox > button {
	display: block;
	margin: 0 auto;
}

.researchBox > button:disabled {
	color: #ccc;

}

#research1 {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.ui-accordion-content {
	height: 400px;
}

.researchTable {
	width: 750px;
	display: block;
	margin: 0 auto;
}

.researchTable .midTier {
	margin: 0 25px;
}

.researchTable img {
	margin-left: 120px;
}

/* Available */
.researchBox.researchAvailable {
	border-color: #26b3f7;
	color: #fff;	
}

/* In Progress */
.researchBox.researchInProg {
	border-color: #fbcab3;
	color: #fff;
}


/* Complete */
.researchBox.researchComplete {
	border-color: #3fe694;
	color: #3fe694;
}